@import "tailwindcss";

@theme {
  --color-primary: #19C819;
  --color-background: #131313;
  --color-foreground: #131516;
  --color-text: #B0B7BE;
  --color-detail: #878D96;
  --color-gray-100: #FAFAFA;
  --color-gray-200: #F2F4F8;
  --color-border: #222729;
  --color-button: #1B3F1B;
}
